**/.dockerignore
**/bin
**/obj
**/.vs
**/.vscode
**/.idea
**/.git
**/.gitignore
**/Logs
**/node_modules
**/npm-debug.log
**/.DS_Store
**/Thumbs.db
**/*.md
README.md
docker-compose*.yml
Dockerfile*
!Dockerfile
**/.env
**/appsettings.Development.json
